<%- include('./header')-%>
<div class="container">
        <div class="row">
            <div class="col-12 mt-3">
            <h1 class="display-3">Contact Our Company</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, perferendis!</p>
            </div>
        </div>
                <div class="row">
                    <div class="col-lg-6">
                    <form id="contact-form" action="" method="POST" novalidate="novalidate" autocomplete="off">
                        <div class="form-group">
                        <label for="name">* Name:</label>
                        <input type="text" name="name" id="name" class="form-control">
                        </div>
                        <div class="form-group">
                        <label for="email">* Email:</label>
                        <input type="email" name="email" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                        <label for="phone">* Phone:</label>
                        <input type="tel" name="phone" id="phone" class="form-control">
                        </div>
                        <button type="submit" name="submit" value="Contact Me" class="btn btn-primary">Contact Me!</button>
                    </form>
                    </div>
                </div>
                </div>